
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="info-outer-wrap">
			<div class="info-wrap">Syncope coﬀee. 2022</div>
			<div class="info-wrap">Все права защищены. <a href="">Политика конфиденциальности</a></div>
		</div>
		<div class="soc-wrap">
			<a href="" class="btn-action-ico button-soc">
				<img src="./img/icons/soc-vk.svg" alt="">
			</a>
			<a href="" class="btn-action-ico button-soc">
				<img src="./img/icons/soc-yt.svg" alt="">
			</a>
			<a href="" class="btn-action-ico button-soc">
				<img src="./img/icons/soc-inst.svg" alt="">
			</a>
			<a href="" class="btn-action-ico button-soc">
				<img src="./img/icons/soc-tg.svg" alt="">
			</a>
			<a href="" class="btn-action-ico button-soc">
				<img src="./img/icons/soc-tt.svg" alt="">
			</a>
		</div>
	</div>
</footer>
<!-- /footer -->