
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo-main.svg" alt="">
			</a>
		</div>
		<div class="main-popup-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-popup-menu btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-close"></a>
				<div class="menu-main-wrap">
					<ul class="menu">
						<li>
							<a href="">Меню</a>
							<ul class="menu-inner">
								<li>
									<a href="" class="btn-menu js-tab-button" data-select-tab="tab01">
										<span class="button-ico">
											<img src="./img/icons/menu01.svg" alt="">
										</span>
										<span class="button-title">Зерно</span>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu js-tab-button" data-select-tab="tab02">
										<span class="button-ico">
											<img src="./img/icons/menu02.svg" alt="">
										</span>
										<span class="button-title">Кофе</span>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu js-tab-button" data-select-tab="tab03">
										<span class="button-ico">
											<img src="./img/icons/menu03.svg" alt="">
										</span>
										<span class="button-title">Напитки</span>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu js-tab-button" data-select-tab="tab04">
										<span class="button-ico">
											<img src="./img/icons/menu04.svg" alt="">
										</span>
										<span class="button-title">Завтраки</span>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu js-tab-button" data-select-tab="tab05">
										<span class="button-ico">
											<img src="./img/icons/menu05.svg" alt="">
										</span>
										<span class="button-title">Десерты</span>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu js-tab-button" data-select-tab="tab06">
										<span class="button-ico">
											<img src="./img/icons/menu06.svg" alt="">
										</span>
										<span class="button-title">Римская пицца</span>
									</a>
								</li>
								<li>
									<a href="" class="btn-menu js-tab-button" data-select-tab="tab07">
										<span class="button-ico">
											<img src="./img/icons/menu07.svg" alt="">
										</span>
										<span class="button-title">Основное меню</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="menu-top-wrap">
					<ul class="menu">
						<li><a href="#section-main01" class="js-anchor-button">Наши кофейни</a></li>
						<li><a href="#section-main02" class="js-anchor-button">Система лояльности</a></li>
						<li><a href="#section-main03" class="js-anchor-button">Команда</a></li>
						<li><a href="#section-main04" class="js-anchor-button">Партнерам</a></li>
						<li><a href="#section-main05" class="js-anchor-button">Франшиза</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->